@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
svg{
  background-image: url(https://scutanddestroy.files.wordpress.com/2012/04/shmup-background-01-composite.png);
}
h1{
  text-align: center;
font-family: 'Press Start 2P', cursive;
}
